<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>python2Path</key>
	<string>/Library/Frameworks/Python.framework/Versions/2.7/bin/python2</string>
	<key>includeDeprecatedInProductGroups</key>
	<false/>
	<key>pkginfoPrefillVersion</key>
	<true/>
	<key>pkginfoPrefillDisplayName</key>
	<true/>
	<key>pkginfoPrefillDescription</key>
	<false/>
	<key>pkginfoPrefillDescriptionType</key>
	<integer>0</integer>
	<key>pkginfoUnattendedInstall</key>
	<false/>
	<key>pkginfoFileExtensions</key>
	<array>
		<string>.plist</string>
		<string>.pkginfo</string>
	</array>
	<key>pkginfoDefaultFileExtension</key>
	<string>.plist</string>
	<key>pkginfoAddMetadata</key>
	<true/>
	<key>defaultMunkiCatalogs</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>title</key>
			<string>testing</string>
		</dict>
	</array>
	<key>baseURL</key>
	<string>https://swscan.apple.com</string>
	<key>defaultCatalogs</key>
	<array>
		<dict>
			<key>catalogOSVersion</key>
			<string>12</string>
			<key>catalogURL</key>
			<string>https://swscan.apple.com/content/catalogs/others/index-12-10.16-10.15-10.14-10.13-10.12-10.11-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog.gz</string>
			<key>catalogDisplayName</key>
			<string>Monterey</string>
			<key>enabled</key>
			<true/>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.16</string>
			<key>catalogURL</key>
			<string>https://swscan.apple.com/content/catalogs/others/index-10.16-10.15-10.14-10.13-10.12-10.11-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog.gz</string>
			<key>catalogDisplayName</key>
			<string>Big Sur</string>
			<key>enabled</key>
			<true/>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.15</string>
			<key>catalogURL</key>
			<string>https://swscan.apple.com/content/catalogs/others/index-10.15-10.14-10.13-10.12-10.11-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>Catalina</string>
			<key>enabled</key>
			<true/>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.14</string>
			<key>catalogURL</key>
			<string>https://swscan.apple.com/content/catalogs/others/index-10.14-10.13-10.12-10.11-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>Mojave</string>
			<key>enabled</key>
			<true/>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.13</string>
			<key>catalogURL</key>
			<string>https://swscan.apple.com/content/catalogs/others/index-10.13-10.12-10.11-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>High Sierra</string>
			<key>enabled</key>
			<false/>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.12</string>
			<key>catalogURL</key>
			<string>https://swscan.apple.com/content/catalogs/others/index-10.12-10.11-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>Sierra</string>
			<key>enabled</key>
			<false/>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.11</string>
			<key>catalogURL</key>
			<string>https://swscan.apple.com/content/catalogs/others/index-10.11-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>El Capitan</string>
			<key>enabled</key>
			<false/>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.10</string>
			<key>catalogURL</key>
			<string>https://swscan.apple.com/content/catalogs/others/index-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>Yosemite</string>
			<key>enabled</key>
			<false/>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.9</string>
			<key>catalogURL</key>
			<string>https://swscan.apple.com/content/catalogs/others/index-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>Mavericks</string>
			<key>enabled</key>
			<false/>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.8</string>
			<key>catalogURL</key>
			<string>http://swscan.apple.com/content/catalogs/others/index-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>Mountain Lion</string>
			<key>enabled</key>
			<false/>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.7</string>
			<key>catalogURL</key>
			<string>http://swscan.apple.com/content/catalogs/others/index-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>Lion</string>
			<key>enabled</key>
			<false/>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.6</string>
			<key>catalogURL</key>
			<string>http://swscan.apple.com/content/catalogs/others/index-leopard-snowleopard.merged-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>Snow Leopard</string>
			<key>enabled</key>
			<false/>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.5</string>
			<key>catalogURL</key>
			<string>http://swscan.apple.com/content/catalogs/others/index-leopard.merged-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>Leopard</string>
			<key>enabled</key>
			<false/>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.4</string>
			<key>catalogURL</key>
			<string>http://swscan.apple.com/content/catalogs/index.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>index.sucatalog</string>
			<key>enabled</key>
			<false/>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.4</string>
			<key>catalogURL</key>
			<string>http://swscan.apple.com/content/catalogs/index-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>index-1.sucatalog</string>
			<key>enabled</key>
			<false/>
		</dict>
	</array>
	<key>reposadoDefaults</key>
	<dict>
		<key>AppleCatalogURLs</key>
		<array>
			<string>http://swscan.apple.com/content/catalogs/index.sucatalog</string>
			<string>http://swscan.apple.com/content/catalogs/others/index-leopard.merged-1.sucatalog</string>
			<string>http://swscan.apple.com/content/catalogs/others/index-leopard-snowleopard.merged-1.sucatalog</string>
			<string>http://swscan.apple.com/content/catalogs/others/index-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<string>http://swscan.apple.com/content/catalogs/others/index-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
		</array>
		<key>AdditionalCurlOptions</key>
		<array/>
		<key>PreferredLocalizations</key>
		<array>
			<string>English</string>
			<string>en</string>
		</array>
		<key>CurlPath</key>
		<string>/usr/bin/curl</string>
	</dict>
</dict>
</plist>
