<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>includeDeprecatedInProductGroups</key>
	<false/>
	<key>pkginfoPrefillVersion</key>
	<true/>
	<key>pkginfoPrefillDisplayName</key>
	<true/>
	<key>pkginfoPrefillDescription</key>
	<false/>
	<key>pkginfoPrefillDescriptionType</key>
	<integer>0</integer>
	<key>pkginfoUnattendedInstall</key>
	<false/>
	<key>pkginfoFileExtensions</key>
	<array>
		<string>.plist</string>
		<string>.pkginfo</string>
	</array>
	<key>pkginfoDefaultFileExtension</key>
	<string>.plist</string>
	<key>pkginfoAddMetadata</key>
	<true/>
	<key>defaultMunkiCatalogs</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>title</key>
			<string>testing</string>
		</dict>
	</array>
	<key>baseURL</key>
	<string>http://swscan.apple.com</string>
	<key>defaultCatalogs</key>
	<array>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.10</string>
			<key>catalogURL</key>
			<string>http://swscan.apple.com/content/catalogs/others/index-10.10-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>Yosemite</string>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.9</string>
			<key>catalogURL</key>
			<string>http://swscan.apple.com/content/catalogs/others/index-10.9-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>Mavericks</string>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.8</string>
			<key>catalogURL</key>
			<string>http://swscan.apple.com/content/catalogs/others/index-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>Mountain Lion</string>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.7</string>
			<key>catalogURL</key>
			<string>http://swscan.apple.com/content/catalogs/others/index-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>Lion</string>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.6</string>
			<key>catalogURL</key>
			<string>http://swscan.apple.com/content/catalogs/others/index-leopard-snowleopard.merged-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>Snow Leopard</string>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.5</string>
			<key>catalogURL</key>
			<string>http://swscan.apple.com/content/catalogs/others/index-leopard.merged-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>Leopard</string>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.4</string>
			<key>catalogURL</key>
			<string>http://swscan.apple.com/content/catalogs/index.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>index.sucatalog</string>
		</dict>
		<dict>
			<key>catalogOSVersion</key>
			<string>10.4</string>
			<key>catalogURL</key>
			<string>http://swscan.apple.com/content/catalogs/index-1.sucatalog</string>
			<key>catalogDisplayName</key>
			<string>index-1.sucatalog</string>
		</dict>
	</array>
	<key>reposadoDefaults</key>
	<dict>
		<key>AppleCatalogURLs</key>
		<array>
			<string>http://swscan.apple.com/content/catalogs/index.sucatalog</string>
			<string>http://swscan.apple.com/content/catalogs/others/index-leopard.merged-1.sucatalog</string>
			<string>http://swscan.apple.com/content/catalogs/others/index-leopard-snowleopard.merged-1.sucatalog</string>
			<string>http://swscan.apple.com/content/catalogs/others/index-lion-snowleopard-leopard.merged-1.sucatalog</string>
			<string>http://swscan.apple.com/content/catalogs/others/index-mountainlion-lion-snowleopard-leopard.merged-1.sucatalog</string>
		</array>
		<key>AdditionalCurlOptions</key>
		<array/>
		<key>PreferredLocalizations</key>
		<array>
			<string>English</string>
			<string>en</string>
		</array>
		<key>CurlPath</key>
		<string>/usr/bin/curl</string>
	</dict>
</dict>
</plist>
